.pwhite h1,
.pwhite p {
    color: white;
}

nav a {
    color: cornsilk;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: white;
}

button.btn1 {
    background: white;
    color: black;
    border: 2px solid white;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 20px 60px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    /* animate and time the transitions*/
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

button.btn-1:hover {
    background: transparent;
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

html,
body {
    height: 100%;
    margin: 0;
}

.full-height {
    padding-left: 7%;
    padding-top: 7%;
}

header {
    height: 100%;
    background: linear-gradient(to bottom right, blueviolet, #954ddb, #1f0a33);
}

@media screen and (max-width: 500px) {
    header {
        height: 130%;
        background: linear-gradient(to bottom right, blueviolet, #954ddb, #1f0a33);
    }
}